{% extends 'base.html' %}

{% block title %}Job List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4" style = "color: white; "></h1>
    <div class="row">
        {% if jobs %}
            {% for job in jobs %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{ job.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ job.company_name }}</h6>
                            <p class="card-text text-secondary"><i class="bi bi-geo-alt-fill"></i> {{ job.location }}</p>
                            <a href="{% url 'job_detail' job.id %}" class="btn btn-outline-primary btn-sm mt-2">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <p class="text-center text-muted"></p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
